/*Fonts **********************************************/
@font-face {
  font-family: 'Gilroy-Light';
  src: url('../fonts/Gilroy-Light.eot') format('opentype'), 
       url('../fonts/Gilroy-Light.woff2') format('woff2'), 
       url('../fonts/Gilroy-Light.woff') format('woff'), 
       url('../fonts/Gilroy-Light.ttf')  format('truetype');
       font-weight: 300;
       font-style: normal;
}
@font-face {
  font-family: 'Gilroy-Regular';
  src: url('../fonts/Gilroy-Regular.eot') format('opentype'), 
       url('../fonts/Gilroy-Regular.woff2') format('woff2'), 
       url('../fonts/Gilroy-Regular.woff') format('woff'), 
       url('../fonts/Gilroy-Regular.ttf')  format('truetype');
       font-weight: 400;
       font-style: normal;
}
@font-face {
  font-family: 'Gilroy-Semibold';
  src: url('../fonts/Gilroy-Semibold.eot') format('opentype'), 
       url('../fonts/Gilroy-Semibold.woff2') format('woff2'), 
       url('../fonts/Gilroy-Semibold.woff') format('woff'), 
       url('../fonts/Gilroy-Semibold.ttf')  format('truetype');
       font-weight: 600;
       font-style: normal;
}
@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../fonts/Gilroy-Bold.eot') format('opentype'), 
       url('../fonts/Gilroy-Bold.woff2') format('woff2'), 
       url('../fonts/Gilroy-Bold.woff') format('woff'), 
       url('../fonts/Gilroy-Bold.ttf')  format('truetype');
       font-weight: 700;
       font-style: normal;
}
@font-face {
  font-family: 'Nekst-Black';
  src: url('../fonts/Nekst-Black.eot') format('opentype'), 
       url('../fonts/Nekst-Black.woff2') format('woff2'), 
       url('../fonts/Nekst-Black.woff') format('woff'), 
       url('../fonts/Nekst-Black.ttf')  format('truetype');
       font-weight: 800;
       font-style: normal;
}
@font-face {
  font-family: 'Nekst-Bold';
  src: url('../fonts/Nekst-Bold.eot') format('opentype'), 
       url('../fonts/Nekst-Bold.woff2') format('woff2'), 
       url('../fonts/Nekst-Bold.woff') format('woff'), 
       url('../fonts/Nekst-Bold.ttf')  format('truetype');
       font-weight: 700;
       font-style: normal;
}
@font-face {
  font-family: 'Nekst-SemiBold';
  src: url('../fonts/Nekst-SemiBold.eot') format('opentype'), 
       url('../fonts/Nekst-SemiBold.woff2') format('woff2'), 
       url('../fonts/Nekst-SemiBold.woff') format('woff'), 
       url('../fonts/Nekst-SemiBold.ttf')  format('truetype');
       font-weight: 600;
       font-style: normal;
}
@font-face {
  font-family: 'Nekst-Regular';
  src: url('../fonts/') format('opentype'), 
       url('../fonts/Nekst-Regular.woff2') format('woff2'), 
       url('../fonts/Nekst-Regular.woff') format('woff'), 
       url('../fonts/Nekst-Regular.ttf')  format('truetype');
       font-weight: 400;
       font-style: normal;
}
body {
  font-family: 'Gilroy-Regular';
  background: #222332;
  margin: 0;
  padding: 0;
}
/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
  align-items: center;
  justify-content: center;
}
.modal1 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
  align-items: center;
  justify-content: center;
}
.modal-content {
  width: 520px;
  height:max-content;
  padding: 40px 20px;
  box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 30px;
  position: relative;
}

.close {
  color: #1E1D28;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
}

.close:hover,
.close:focus {
  color: #1E1D28;
  text-decoration: none;
  cursor: pointer;
}

.login-form {
  display: flex;
  flex-direction: column;
}
.modal-content h2 {
  font-family: 'Nekst-SemiBold';
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #111B25;
  margin-bottom: 20px;
}
form input {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 12px 0px 12px 20px;
  height: 54px;
  width: 100%;
  border-radius: 10px;
  background: #F3F3F3;
  border-radius: 10px;
  margin-bottom: 20px;
  border: none;
}
form input::placeholder {
  font-size: 16px;
  line-height: 120%;
  color: #797979;
}
.submitForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 52px;
  background: #D9552A;
  border-radius: 30px;
  box-sizing: border-box;
  border: none;
  font-family: 'Gilroy-Semibold';
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  box-sizing: border-box;
  margin-bottom: 30px;
  text-decoration: none;
}
.login-form p {
  text-align: center;
  margin-bottom: 30px;
}
.login-form p a{
  font-size: 16px;
  line-height: 120%;
  color: #5F7EE1;
  text-decoration: none;
}
.login-form p:nth-last-of-type(1) {
  margin-bottom: 0;
}
.show-password {
  position: absolute;
  right: 40px;
  top: 192px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#password {
  padding-right: 30px;
}

.back-btn {
  position: absolute;
  margin-bottom: 10px;
  cursor: pointer;
  top: 18px;
  left: 20px;
  transform: rotate(180deg);
}

.back-btn:hover {
  text-decoration: underline;
}
form {
  flex-direction: column;
}
.tabcontent {
  display: none;
}
.tabcontent.active {
  display: flex;
}
.tablinks.active {
  background-color: #ccc;
}
.tabsContainer {
  flex-direction: column;
}
.tabs {
  background: #F3F3F3;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.tabsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tablinks {
  font-size: 18px;
  line-height: 120%;
  color: #141414;
  border: none;
  background: transparent;
  width: 50%;
  width: 220px;
  height: 67px;
  background: transparent;
  border-radius: 10px;
  transition: all 0.3s;
}
.tablinks.active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 67px;
  background: #FFFFFF;
  box-shadow: 4px 7px 20px rgba(171, 171, 171, 0.25);
  border-radius: 10px;
  transition: all 0.3s;
}
.tabcontent {
  flex-direction: column;
}
.tabcontent h3 {
  font-size: 16px;
  line-height: 120%;
  color: #141414;
  margin-bottom: 20px;
}
#openConfirmationEmailContent {
  display: none;
}
#openConfirmationPhoneContent {
  display: none;
}
#recoverPhoneContainer {
  display: none;
}
#openConfirmationEmailContent {
  flex-direction: column;
  align-items: center;
}
#openConfirmationEmailContent > img {
  margin-bottom: 16px;
}
#openConfirmationEmailContent > p {
  font-family: 'Nekst-Black';
  width: 90%;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #111B25;
  text-align: center;
}
#openConfirmationEmailContent > p > span {
  color: #5F7EE1;
  display: block;
}
.new-class .modal-content{
  height: auto;
}
#timer {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#send-code-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

#send-code-btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#openConfirmationPhoneContent {
  flex-direction: column;
  align-items: center;
}
#openConfirmationPhoneContent > p {
  font-family: 'Nekst-Black';
  width: 90%;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #111B25;
  text-align: center;
  margin-bottom: 20px;
}
#openConfirmationPhoneContent > p > span{
  color: #5F7EE1;
}
#openConfirmationPhoneContent form {
  width: 100%;
}
#openConfirmationPhoneContent form input{
  width: 100%;
  margin-bottom: 20px;
}
.hidden {
  display: none;
}
#recoverPhoneContainer {
  flex-direction: column;
  align-items: center;
}
#recoverPhoneContainer form {
  width: 100%;
}
#recoverPhoneContainer form input{
  width: 100%;
}
#recoverPhoneContainer form {
  position: relative;
}
#recoverEmailModal form {
  position: relative;
}
.show-password1 {
  position: absolute;
  top: 27px;
  right: 20px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.show-password2 {
  position: absolute;
  top: 102px;
  right: 20px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.show-password3 {
  position: absolute;
  top: 27px;
  right: 20px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.show-password4 {
  position: absolute;
  top: 102px;
  right: 20px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.eyeOpen {
  display: none;
}
.eyeClose {
  display: none;
}
.eyeOpen.active {
  display: block;
}
.eyeClose.active {
  display: block !important;
}
#login form {
  position: relative;
}
input:invalid {
  border: 2px solid red;
}
input:valid {
  border: 2px solid green;
}
.submitForm:valid {
  border: none;
}
.submitForm:invalid {
  border: none;
}
.aciveTimer {
  display: none;
}
#openConfirmationPhoneContent > a {
  font-size: 16px;
  line-height: 120%;
  color: #5F7EE1;
  text-decoration: none;
  margin-bottom: 30px;
}
.timer-wrapper {
  font-size: 16px;
  line-height: 120%;
  color: #5F7EE1;
  text-decoration: none;
}
#timer {
  font-size: 16px;
  line-height: 120%;
  color: #5F7EE1;
  text-decoration: none;
  margin-left: 5px;
}
.aciveTimerWrapper {
  display: none;
}
#resend-sms-btn {
  font-size: 16px;
  line-height: 120%;
  color: #5F7EE1;
  text-decoration: none;
  text-decoration: none;
}
#registerForm {
  flex-direction: column;
  align-items: center;
}
.chexbox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
form input[type="checkbox"] {
  box-sizing: border-box;
  width: 17px !important;
  height: 17px !important;
  background: #FFFFFF;
  border: 1px solid #5F7EE1;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 0;
}
.chexbox > p {
  font-size: 14px;
  line-height: 120%;
  color: #111B25;
}
.chexbox > p > a {
  color: #5F7EE1;
  text-decoration: none;
}
#ragistrations {
  font-size: 16px;
    line-height: 120%;
    color: #5F7EE1;
    text-decoration: none;
}
.back-btnText {
  position: static;
  transform: rotate(0);
}
#btn-close-popup {
  border: none;
  background: transparent;
  position: absolute;
  color: #1E1D28;
  font-size: 28px;
  font-weight: bold;
  top: 10px;
  right: 20px;
}
#popup {
  z-index: 1001;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 520px;
  height: 122px;
  background: #FFFFFF;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}
#popup p {
  font-size: 16px;
  line-height: 130%;
  color: #141414;
}
#popup p > a {
  color: #5F7EE1;
  text-decoration: none;
}
.settings .modal-content form {
  position: relative;
}
.settingOldPassword {
  position: absolute;
  top: 27px;
  right: 20px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.settingNewPassword {
  position: absolute;
  top: 102px;
  right: 20px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.settingRepeatPassword {
  position: absolute;
  top: 175px;
  right: 20px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.settings {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  background-color: rgba(0,0,0,0.4); 
  align-items: center;
  justify-content: center;
}
.cookie {
  box-sizing: border-box;
  padding: 24px 75px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9999;  
}
.cookie > p {
  font-size: 16px;
  line-height: 140%;
  width: 70%;
  color: #141414;
}
.cookie > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 280px;
  height: 52px;
  background: #D9552A;
  border-radius: 30px;
  box-sizing: border-box;
  font-family: 'Gilroy-Bold';
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  margin-left: 50px;
  border: none;
}
.content404 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content404 h2 {
  font-family: 'Nekst-SemiBold';
  font-size: 56px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.content404Postition {
  position: relative;
}
.content404 > p {
  font-family: 'Gilroy-Regular';
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 30px;
}
.content404 > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 190px;
  height: 46px;
  background: #D9552A;
  border-radius: 30px;
  font-family: 'Gilroy-Bold';
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  box-sizing: border-box;
}
.content404Postition > img {
  max-width: 100%;
  width: 100%;
}






























@media (max-width: 768px) {
  .cookie {
    padding: 20px;
  }
}





@media (max-width: 576px) {
  .modal-content {
    width: 90%;
  }
  .modal-content h2 {
    font-size: 18px;
    line-height: 22px;
  }
  .show-password {
    top: 182px;
  }
  .tabs {
    flex-direction: column;
  }
  .tablinks.active {
    width: 100%;
  }
  #popup {
    width: 100%;
    height: max-content;
    padding: 40px 20px;
  }
  #openConfirmationPhoneContent > p {
    font-size: 18px;
    line-height: 22px;
  }
  #openConfirmationEmailContent > p {
    font-size: 18px;
    line-height: 22px;
  }
  .cookie {
    flex-direction: column;
  }
  .cookie > p {
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
  }
  .cookie > button {
    width: 100%;
    margin-left: 0;
  }
  .content404 {
    padding: 0 16px;
    box-sizing: border-box;
  }
  .content404 h2 {
    font-size: 37px;
    line-height: 100%;
  }
  .content404 > p {
    font-size: 18px;
  }
  .content404 > a {
    width: 100%;
  }
}